:root {
  --mainFont: 'Roboto', sans-serif;
  --secondaryFont: 'Roboto Condensed', sans-serif;
}

body {
  border: 10px solid red;
  margin:0;
  font-family: var(--mainFont)
}

.wrapper {
  max-inline-size: 1024px;
  margin: auto;
 }

 p, h1 {
  margin: 0 ;
 }

.hero h1 {
  font-family: var(--secondaryFont);
  font-size: 40px;
}

.hero p {
  font-size: 16px;
  line-height: 24px;
}

img {
  max-inline-size: 100%;
}
